container_commands:
  01_voyager_install:
    command: |
      sudo chown $USER:webapp ./storage -R
      php artisan voyager:install
    leader_only: true

  02_sanctum_publish:
    command: "php artisan vendor:publish --provider=\"Laravel\\Sanctum\\SanctumServiceProvider\""
    leader_only: true

  03_migrate:
    command: "php artisan migrate --force"
    leader_only: true
